

<h1 mat-dialog-title>{{ task.title }}</h1>

<form [formGroup]="saveForm" (submit)="saveChanges()">
  <label for="title">Tarea:</label>
  <input id="title" type="text" formControlName="title" />
<br><br>
  <label for="description">Descripción:</label>
  <textarea id="description" rows="5" cols="50" formControlName="description"></textarea>
  <br>
  <app-task-tags [tags]="task.tags"></app-task-tags>
  <mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" type="submit"[disabled]="loading">Guardar</button>
  </mat-dialog-actions>
</form>
