

div
  margin-bottom: 20px

  h3
    color: #333

  p
    color: #666

  div
    span
      margin-right: 5px
      background-color: #ccc
      padding: 3px 5px
      border-radius: 3px
      display: inline-block


.tags-container 
  display: flex


.tag 
  margin-right: 8px

.button-container
  position: fixed
  left: 5%
  bottom: 5%
  z-index: 1000

.filter-container
  position: fixed
  left: 5%
  top: 9%
  z-index: 1000

.task-container
  background-color: white !important
  margin: 0 auto
  width: 50%
  padding: 2px
  border: 1px solid #ddd
  border-radius: 5px
  margin-bottom: 20px
  display: flex
  flex-direction: column
  @media (max-width: 1024px) 
    width: 70%
  @media (max-width: 768px) 
    width: 90%
  