<mat-form-field class="example-chip-list">
    <mat-label>Etiquetas</mat-label>
    <mat-chip-grid #chipGrid aria-label="Pon Etiquetas">
      @for (tag of tags; track tag) {
        <mat-chip-row
          (removed)="remove(tag)"
          [editable]="true"
          (edited)="edit(tag, $event)"
          [aria-description]="'press enter to edit ' + tag.name">
          {{tag.name}}
          <button matChipRemove [attr.aria-label]="'borrar ' + tag.name">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      }
      <input placeholder="Nueva Etiqueta..."
             [matChipInputFor]="chipGrid"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="add($event)"/>
    </mat-chip-grid>
  </mat-form-field>